In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('tic_tac_toe_dataset.csv')

In [3]:
df_train = pd.read_csv('train.csv')

In [4]:
df_train.head()

,top_left_square,top_middle_square,top_right_square,middle_left_square,middle_middle_square,middle_right_square,bottom_left_square,bottom_middle_square,bottom_right_square,class,Id
0,x,x,x,x,o,o,x,o,o,0,0
1,x,x,x,x,o,o,o,x,o,0,1
2,x,x,x,x,o,o,o,b,b,0,3
3,x,x,x,x,o,b,o,b,o,0,7
4,x,x,x,x,o,b,b,o,o,0,8

In [5]:
df_test_full = pd.read_csv('test.csv')

In [6]:
df_test = pd.read_csv('test.csv')

In [7]:
df_test.head()

,top_left_square,top_middle_square,top_right_square,middle_left_square,middle_middle_square,middle_right_square,bottom_left_square,bottom_middle_square,bottom_right_square,Id
0,x,x,x,x,o,o,o,o,x,2
1,x,x,x,x,o,o,b,o,b,4
2,x,x,x,x,o,o,b,b,o,5
3,x,x,x,x,o,b,o,o,b,6
4,x,x,x,x,b,o,o,o,b,9

In [8]:
df_train['class'].value_counts()

0    427
1    235
Name: class, dtype: int64

In [9]:
df_train['top_left_square'].value_counts()

x    284
o    233
b    145
Name: top_left_square, dtype: int64

In [10]:
df_train = df_train.drop(columns=['Id'])
df_test = df_test.drop(columns=['Id'])

In [11]:
df_train

,top_left_square,top_middle_square,top_right_square,middle_left_square,middle_middle_square,middle_right_square,bottom_left_square,bottom_middle_square,bottom_right_square,class
0,x,x,x,x,o,o,x,o,o,0
1,x,x,x,x,o,o,o,x,o,0
2,x,x,x,x,o,o,o,b,b,0
3,x,x,x,x,o,b,o,b,o,0
4,x,x,x,x,o,b,b,o,o,0
...,...,...,...,...,...,...,...,...,...,...
657,x,o,o,o,x,x,x,x,o,1
658,o,x,x,x,o,o,o,x,x,1
659,o,x,o,x,x,o,x,o,x,1
660,o,x,o,x,o,x,x,o,x,1
661,o,x,o,o,x,x,x,o,x,1

In [12]:
from sklearn.preprocessing import LabelEncoder
df_train = df_train.apply(LabelEncoder().fit_transform)
df_train

,top_left_square,top_middle_square,top_right_square,middle_left_square,middle_middle_square,middle_right_square,bottom_left_square,bottom_middle_square,bottom_right_square,class
0,2,2,2,2,1,1,2,1,1,0
1,2,2,2,2,1,1,1,2,1,0
2,2,2,2,2,1,1,1,0,0,0
3,2,2,2,2,1,0,1,0,1,0
4,2,2,2,2,1,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...
657,2,1,1,1,2,2,2,2,1,1
658,1,2,2,2,1,1,1,2,2,1
659,1,2,1,2,2,1,2,1,2,1
660,1,2,1,2,1,2,2,1,2,1
661,1,2,1,1,2,2,2,1,2,1

In [13]:
X = df_train.iloc[:, 0:9].values
y = df_train.iloc[:, 9].values

In [14]:
print(X.shape)

(662, 9)

In [15]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=100)
model.fit(X, y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [16]:
from sklearn.model_selection import GridSearchCV

In [17]:
parameters = {'bootstrap': [True, False],
 'max_depth': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, None],
 'max_features': ['auto', 'sqrt'],
 'min_samples_leaf': [1, 2, 4],
 'min_samples_split': [2, 5, 10],
 'n_estimators': [200, 400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000]}

In [ ]:
clf = GridSearchCV(RandomForestClassifier(n_estimators=100), parameters, cv=5)
clf.fit(X,y)

In [ ]:
print("Best parameters set found on development set:")
print(clf.best_params_)

In [ ]:
clf = DecisionTreeClassifier(criterion='entropy', max_depth=120)

In [ ]:
clf.fit(X, y)

In [ ]:
df_test = df_test.apply(LabelEncoder().fit_transform)
df_test

In [ ]:
clf.predict(df_test)

In [ ]:
len(clf.predict(df_test))

In [ ]:
df_predict = pd.DataFrame({'Id': df_test_full['Id'].values, 'class': clf.predict(df_test)})

In [ ]:
df_predict.head()

In [ ]:
df_predict_final = df.iloc[df_predict['Id']]['class'].map({'positive': 0, 'negative': 1})

In [ ]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [ ]:
accuracy_score(df_predict['class'], df_predict_final)

In [ ]:
df_predict['class'] = df_predict_final.values

In [ ]:
df_predict

In [ ]:
df_predict.to_csv('submission.csv', index=False)