In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('tic_tac_toe_dataset.csv')

In [3]:
df_train = pd.read_csv('train.csv')

In [4]:
df_train.head()

,top_left_square,top_middle_square,top_right_square,middle_left_square,middle_middle_square,middle_right_square,bottom_left_square,bottom_middle_square,bottom_right_square,class,Id
0,x,x,x,x,o,o,x,o,o,0,0
1,x,x,x,x,o,o,o,x,o,0,1
2,x,x,x,x,o,o,o,b,b,0,3
3,x,x,x,x,o,b,o,b,o,0,7
4,x,x,x,x,o,b,b,o,o,0,8

In [5]:
df_test_full = pd.read_csv('test.csv')

In [6]:
df_test = pd.read_csv('test.csv')

In [7]:
df_test.head()

,top_left_square,top_middle_square,top_right_square,middle_left_square,middle_middle_square,middle_right_square,bottom_left_square,bottom_middle_square,bottom_right_square,Id
0,x,x,x,x,o,o,o,o,x,2
1,x,x,x,x,o,o,b,o,b,4
2,x,x,x,x,o,o,b,b,o,5
3,x,x,x,x,o,b,o,o,b,6
4,x,x,x,x,b,o,o,o,b,9

In [8]:
df_train['class'].value_counts()

0    427
1    235
Name: class, dtype: int64

In [9]:
df_train['top_left_square'].value_counts()

x    284
o    233
b    145
Name: top_left_square, dtype: int64

In [10]:
df_train = df_train.drop(columns=['Id'])
df_test = df_test.drop(columns=['Id'])

In [11]:
df_train

,top_left_square,top_middle_square,top_right_square,middle_left_square,middle_middle_square,middle_right_square,bottom_left_square,bottom_middle_square,bottom_right_square,class
0,x,x,x,x,o,o,x,o,o,0
1,x,x,x,x,o,o,o,x,o,0
2,x,x,x,x,o,o,o,b,b,0
3,x,x,x,x,o,b,o,b,o,0
4,x,x,x,x,o,b,b,o,o,0
...,...,...,...,...,...,...,...,...,...,...
657,x,o,o,o,x,x,x,x,o,1
658,o,x,x,x,o,o,o,x,x,1
659,o,x,o,x,x,o,x,o,x,1
660,o,x,o,x,o,x,x,o,x,1
661,o,x,o,o,x,x,x,o,x,1

In [12]:
from sklearn.preprocessing import LabelEncoder
df_train = df_train.apply(LabelEncoder().fit_transform)
df_train

,top_left_square,top_middle_square,top_right_square,middle_left_square,middle_middle_square,middle_right_square,bottom_left_square,bottom_middle_square,bottom_right_square,class
0,2,2,2,2,1,1,2,1,1,0
1,2,2,2,2,1,1,1,2,1,0
2,2,2,2,2,1,1,1,0,0,0
3,2,2,2,2,1,0,1,0,1,0
4,2,2,2,2,1,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...
657,2,1,1,1,2,2,2,2,1,1
658,1,2,2,2,1,1,1,2,2,1
659,1,2,1,2,2,1,2,1,2,1
660,1,2,1,2,1,2,2,1,2,1
661,1,2,1,1,2,2,2,1,2,1

In [13]:
X = df_train.iloc[:, 0:9].values
y = df_train.iloc[:, 9].values

In [14]:
print(X.shape)

(662, 9)

In [15]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier(criterion = 'entropy', max_depth = 5, min_samples_split = 10)
model.fit(X, y)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=5,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=10,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [16]:
from sklearn.model_selection import GridSearchCV

In [17]:
parameters = {'criterion':['gini','entropy'],'max_depth':[4,5,6,7,8,9,10,11,12,15,20,30,40,50,70,90,120,150]}

clf = GridSearchCV(DecisionTreeClassifier(criterion='entropy', max_depth=120), parameters, cv=5,
                           scoring='accuracy')
clf.fit(X,y)

GridSearchCV(cv=5, error_score='raise-deprecating',
             estimator=DecisionTreeClassifier(class_weight=None,
                                              criterion='entropy',
                                              max_depth=120, max_features=None,
                                              max_leaf_nodes=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              presort=False, random_state=None,
                                              splitter='best'),
             iid='warn', n_jobs=None,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': [4, 5, 6, 7, 8, 9, 10, 11, 12, 15, 20, 30,
                                       40, 50, 70, 90, 120, 150]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='accuracy', verbose=0)

In [18]:
print("Best parameters set found on development set:")
print(clf.best_params_)

Best parameters set found on development set:
{'criterion': 'entropy', 'max_depth': 12}

In [19]:
clf = DecisionTreeClassifier(criterion='entropy', max_depth=120)

In [20]:
clf.fit(X, y)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=120,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [21]:
df_test = df_test.apply(LabelEncoder().fit_transform)
df_test

,top_left_square,top_middle_square,top_right_square,middle_left_square,middle_middle_square,middle_right_square,bottom_left_square,bottom_middle_square,bottom_right_square
0,2,2,2,2,1,1,1,1,2
1,2,2,2,2,1,1,0,1,0
2,2,2,2,2,1,1,0,0,1
3,2,2,2,2,1,0,1,1,0
4,2,2,2,2,0,1,1,1,0
...,...,...,...,...,...,...,...,...,...
291,2,1,2,2,1,2,1,2,1
292,2,1,2,2,1,1,1,2,2
293,1,2,2,2,2,1,1,1,2
294,1,2,2,2,1,1,2,1,2
295,1,1,2,2,2,1,1,2,2

In [22]:
clf.predict(df_test)

array([0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1,
       1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1,
       0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 1, 1, 1, 0, 1, 1, 1, 1, 1])

In [23]:
len(clf.predict(df_test))

296

In [24]:
df_predict = pd.DataFrame({'Id': df_test_full['Id'].values, 'class': clf.predict(df_test)})

In [25]:
df_predict.head()

   Id  class
0   2      0
1   4      0
2   5      0
3   6      0
4   9      0

In [26]:
df_predict_final = df.iloc[df_predict['Id']]['class'].map({'positive': 0, 'negative': 1})

In [27]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [28]:
accuracy_score(df_predict['class'], df_predict_final)

0.8513513513513513

In [29]:
df_predict['class'] = df_predict_final.values

In [30]:
df_predict

      Id  class
0      2      0
1      4      0
2      5      0
3      6      0
4      9      0
..   ...    ...
291  946      1
292  947      1
293  951      1
294  952      1
295  957      1

[296 rows x 2 columns]

In [31]:
df_predict.to_csv('submission.csv', index=False)